#! /bin/bash
#
# Add or update a KConfig parameter file.
#
# Copyright (C) Sierra Wireless Inc.
#

CONFIG="${1}"
TYPE="${2}"
VAR="${3}"
FILE="${4}"
VALUE=${!VAR}

msg() {
    if [ "${V}" = 1 -o "${1}" = 1 ]; then
        shift
        echo "${@}"
    fi
}

tweak() {
    msg 1 "    Setting ${1} ${CONFIG} to '${2}'"
    if [ "${V}" = 1 ]; then
        kconfig-tweak --file "${FILE}" --set-${1} "${CONFIG}" "${2}"
    else
        kconfig-tweak --file "${FILE}" --set-${1} "${CONFIG}" "${2}" \
            > /dev/null 2>&1
    fi
    [ "${?}" -eq 0 ] || exit 1
}

if [ "${1}" = "--help" ]; then
    echo "Translate an environment variable to a KConfig value."
    echo
    echo "Usage: kconfig-set-value <config_var> bool|invbool|string|int <env_var> <config_file>"
    exit 0
fi

export PATH="${LEGATO_ROOT}/bin:${PATH}"
if ! which kconfig-tweak >/dev/null 2>&1; then
    msg 0 "Cannot use kconfig-tweak ! Is LEGATO_ROOT set?"
    exit 1
fi

msg 0 "Checking ${VAR}"
if [ -z "${VALUE}" ]; then
    exit 0
fi

msg 0 "    Found ${TYPE} with value ${VALUE}"
if [ "${TYPE}" = "bool" ]; then
    if [ "${VALUE}" = 1 ]; then
        tweak val y
    else
        tweak val n
    fi
elif [ "${TYPE}" = "invbool" ]; then
    if [ "${VALUE}" = 1 ]; then
        tweak val n
    else
        tweak val y
    fi
elif [ "${TYPE}" = "string" ]; then
    tweak str "${VALUE}"
elif [ "${TYPE}" = "int" ]; then
    tweak val "${VALUE}"
fi
