#! /bin/bash
#
# Helper commands for performing checks in KConfig files.
#
# Copyright (C) Sierra Wireless Inc.
#

usage() {
    echo "Helper commands for performing checks in KConfig files."
    echo
    echo "Usage: kconfig-helper b2k|empty \"<value>\""
    echo "Usage: kconfig-helper default \"<value>\" \"<default>\""
    echo "       kconfig-helper getccache"
}

b2k() {
    local value="${1}"

    if [[ "${value}" == "1" || "${value}" == "y" ]]; then
        printf "y"
    else
        printf "n"
    fi
}

empty() {
    local value="${1}"

    if [[ -z "${value}" ]]; then
        printf "y"
    else
        printf "n"
    fi
}

getccache() {
    local ccache="${CCACHE}"
    if [[ -z "${ccache}" ]]; then
        if which sccache > /dev/null; then
            ccache="sccache"
        elif which ccache > /dev/null; then
            ccache="ccache"
        fi
    fi
    printf "%s" "${ccache}"
}

def() {
    local value="${1}"
    local defval="${2}"

    if [[ -n "${value}" ]]; then
        printf "%s" "${value}"
    else
        printf "%s" "${defval}"
    fi
}

case "${1}" in
    b2k)
        b2k "${2}"
        ;;
    empty)
        empty "${2}"
        ;;
    getccache)
        getccache
        ;;
    def)
        def "${2}" "${3}"
        ;;
    *)
        usage
        exit 0
        ;;
esac
