# Build Products
/build
/toolchains
/bin
/Documentation
/releases
/version
doxygen.*.log
doxygen.*.err
_build_*
# /interfaces/config/c/
# /interfaces/configAdmin/c/

# ... per target
*.localhost
*.ar7
*.wp7
*.ar6
*.raspi

# Vim
*.swp

# Eclipse / Developer Studio
.cproject
.project
.settings

# KDev4
*.kdev4

# Python
*.pyc
