# Build Products
/build
/toolchains
/bin

/Documentation*
/releases
/version
/sources.md5
/delivery
/platformAdaptor
/proprietary
doxygen.*.log
doxygen.*.err
_build_*
system.sdef
binaries

# Update pack files
*.update

# Vim
*.swp

# Eclipse / Developer Studio
.cproject
.project
.settings
package.properties
wmnew.opt

# KDev4
*.kdev4

# Python
*.pyc
/Debug

# Target files backup
targetFiles/*/backup_*

# Injected target defs
targetDefs.extra
modules/*
docManagement
