#
# Top level configuration for Legato.
#
# Copyright (C) Sierra Wireless Inc.
#

mainmenu "Legato Configuration"

### "Hidden" Options ###
# These are set automatically and not by user action.

# Turn off module builds
config MODULES
  bool
  default n
  option modules

# Indicate that we have a configuration
config CONFIGURED
  bool
  default y

# Name of the virtual target architecture
config VIRT_TARGET_ARCH
  string
  depends on TARGET_VIRT_ARM || TARGET_VIRT_X86
  default "arm" if TARGET_VIRT_ARM
  default "x86" if TARGET_VIRT_X86
  ---help---
  Set the name of the virtual target platform, if applicable.  This value is
  determined by the target platform selection.

### Target Selection Options ###

choice
  prompt "Target Hardware Platform"
  default TARGET_LOCALHOST
  ---help---
  Select the hardware Legato will be run on.

config TARGET_LOCALHOST
  bool "Localhost (localhost)"
  ---help---
  Run on local Linux host.

config TARGET_VIRT_X86
  bool "Virtual x86 (virt-x86)"
  ---help---
  Run on virtual x86 platform.

config TARGET_VIRT_ARM
  bool "Virtual ARM (virt-arm)"
  ---help---
  Run on virtual ARM platform.

config TARGET_RASPI
  bool "Raspberry Pi (raspi)"
  ---help---
  Run on a Raspberry Pi.

config TARGET_AR7
  bool "SWI AR755x (ar7)"
  ---help---
  Run on a Sierra Wireless AR755x.

config TARGET_AR758X
  bool "SWI AR758x (ar758x)"
  ---help---
  Run on a Sierra Wireless AR758x.

config TARGET_AR759X
  bool "SWI AR759x (ar759x)"
  ---help---
  Run on a Sierra Wireless AR759x.

config TARGET_AR86
  bool "SWI AR86xx (ar86)"
  ---help---
  Run on a Sierra Wireless AR86xx.

config TARGET_WP85
  bool "SWI WP85xx (wp85)"
  ---help---
  Run on a Sierra Wireless WP85xx.

config TARGET_WP750X
  bool "SWI WP750x (wp750x)"
  ---help---
  Run on a Sierra Wireless WP750x.

config TARGET_WP76XX
  bool "SWI WP76xx (wp76xx)"
  ---help---
  Run on a Sierra Wireless WP76xx.

config TARGET_WP77XX
  bool "SWI WP77xx (wp77xx)"
  ---help---
  Run on a Sierra Wireless WP77xx.

config TARGET_CUSTOM
  bool "Custom"
  ---help---
  Run on a custom hardware platform.

endchoice # end "Target Hardware Platform"

choice
  prompt "Target Operating System"
  default LINUX
  ---help---
  Select the operating system Legato will be run on.

config LINUX
  bool "Linux"
  select POSIX
  ---help---
  Run on Linux.

config CUSTOM_OS
  bool "Custom"
  select CUSTOM_FA
  ---help---
  Run on another operating system, such as a proprietary OS distribution.  A
  custom framework adaptor is required in this case.

endchoice # end "Target Operating System"

config POSIX
  bool "POSIX compliant operating system"
  default y if LINUX
  default n
  ---help---
  Indicate Legato is running on a POSIX platform.

config REDUCE_FOOTPRINT
  bool "Reduce memory and storage use where possible"
  default n
  ---help---
  Try to reduce the memory and storage footprint of Legato.  This may use
  alternate datastructures which are optimized for size and reduce the scale
  of some tests.  Selecting this option may result in lower performance and
  slower applications.

### Build and Toolchain Options ###

config USE_CLANG
  bool "Use Clang for compilation"
  default n
  ---help---
  Use Clang rather than GCC for compiling C and C++ sources.

config USE_CCACHE
  bool "Use CCache"
  default y
  ---help---
  Use CCache to speed up compilation times.

config CCACHE
  string "CCache command"
  depends on USE_CCACHE
  default "ccache"
  ---help---
  CCache executable to use when compiling.

config READ_ONLY
  bool "Read-only image"
  default y if TARGET_AR758X || TARGET_AR759X
  default n
  ---help---
  Generate a read-only image for the target, in addition to the default
  read-write image.

config STRIP_STAGING_TREE
  bool "Strip staging tree"
  default y if TARGET_AR758X || TARGET_AR759X
  default n
  ---help---
  Strip files staged for the target image.

config DEBUG
  bool "Debug build"
  default n
  ---help---
  Build with debug compiler flags turned on, and debugging code features
  enabled.

config TEST_COVERAGE
  bool "Code coverage build"
  default n
  ---help---
  Build with code coverage compiler flags turned on.

config TEST_COVERAGE_DIR
  string "On-target code coverage directory"
  depends on TEST_COVERAGE
  default "" if TARGET_LOCALHOST
  default "/mnt/flash/coverage"
  ---help---
  On-target directory to write runtime code coverage results to.

### Sub-sections ###

menu "Documentation"
source "build/.KConfig/Documentation"
endmenu # end "Documentation"

menu "Framework"
source "framework/KConfig"
endmenu # end "Framework"

menu "Modules"
source "modules/KConfig"
endmenu # end "Modules"

menu "Services"
source "apps/platformServices/KConfig"
endmenu # end "Services"
