/** @page toolsTargetMgmt Target Management Tools

Target Management tools are available to help manage the target: adding/removing apps,
starting/stopping apps and updating firmware.

Run @ref basicBuildLegato_configShell_binlegs to add the host tools to the shell's executable path.

GENERATED_DOCS // This marker will be replaced by subpages for tools automatically

To display usage, run
@verbatim [toolname] --help @endverbatim

<HR>

Copyright (C) Sierra Wireless Inc.

**/
